{% extends 'base.html' %}
{% load static %}
{% block title %} Bol {% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{% static 'home/css/home.css' %}">

{% endblock stylesheets %}

{% block content %}

<div style="width: 100%;">
    <h3 style="margin-left: 10px;">Home</h3>
</div>
{% for twt in tweets %}
<div class="card text-white bg-dark mb-1 " style="max-width: 80rem;">
    <div class="card-body">
        <a href="{% url 'profile' twt.user.username %}">
            <div class="row">
                <div class="col-1">
                    <img src="{{twt.user.prof_pic.url}}" alt="profile" width="30%" height="100%" class="profile">
                </div>
                <strong class="card-text col-3">{{twt.user.username}}</strong>
            </div>
        </a>

        <h4 class="card-title">{{twt.tweet}}</h4>
        <div class="row">
            <div class="col-1">
                <img src="{% static 'resource/site_icons/comment.svg' %}" alt="comment" width="70%" height="70%">
            </div>
            <div class="col-1">
                <a href="{% url 'liked' twt.id %}">
                    <svg style="width: 30px; height: 30px;" class="svg_class" fill='black' onclick="">
                        <use xlink:href="/static/resource/svg/free.svg#cil-heart"></use>
                    </svg>

                </a>

            </div>
            <div class="col-1">
                <p>{{twt.likes}}</p>

            </div>
        </div>
    </div>
</div>

{% endfor %}
{% endblock %}