{% extends 'base.html' %}
{% load static %}
{% block title %} Bol {% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{% static 'home/css/home.css' %}">

{% endblock stylesheets %}

{% block content %}

<div style="width: 100%;">
    <h3 style="margin-left: 10px;">Home</h3>
</div>
{% for twt in tweets %}

{% if twt.user in user.following.all %}

<div class="card text-white bg-dark mb-1 " style="max-width: 80rem;">
    <div class="card-body">
        <a href="{% url 'profile' twt.user.username %}" style="text-decoration: none; color: white;">
            <div class="row">
                <div class="col-1">
                    <img src="{{twt.user.prof_pic.url}}" alt="profile" width="30%" height="100%" class="profile">
                </div>
                <strong class="card-text col-3">{{twt.user.username}}</strong>
            </div>
        </a>

        <a href="{% url 'tweet_detail' twt.id %}" class="normal_Link" style="text-decoration: none;">
            <h4 class="card-title">{{twt.tweet}}</h4>
        </a>
        <div class="row">
            <div class="col-1">
                <a href="{% url 'tweet_detail' twt.id %}" class="normal_Link" style="text-decoration: none;">
                    <img src="{% static 'resource/site_icons/comment.svg' %}" alt="comment" width="65%"
                        height="65%">{{twt.comments}}
                </a>
            </div>
            <div class="col-1">
                <a href="{% url 'liked' twt.id %}">
                    <svg style="width: 30px; height: 30px;" class="svg_class" {% if request.user in twt.likes.all%}
                        fill='red' {% endif %}>
                        <use xlink:href="/static/resource/svg/free.svg#cil-heart"></use>
                    </svg>

                </a>
                {{twt.likes.all.count}}
            </div>

        </div>
    </div>
</div>
{% endif %}
{% endfor %}
{% endblock %}