{% extends 'base.html' %}
{% block title %} {{profile_user}} {% endblock %}
{% load static %}
{% load widget_tweaks %}

{% block stylesheets %}

<link rel="stylesheet" href="{% static 'accounts/css/profile.css' %}">
{% endblock stylesheets %}
{% block content %}
<div class="cover" style="background: url({{profile_user.prof_cover.url}}); ">
</div>
<div class="profile_main">
    <div class="profile_row">

        <div class="">
            <div class="profile_pic  ">
                <img src="{{profile_user.prof_pic.url}}" alt="profile">
            </div>
            <div class=" edit_button ">

                {% if user == profile_user %}
                <button class="btn btn-primary bg-transparent "><a href="#"> Edit profile</a></button>
                {% elif profile_user in user.following.all %}
                <button class="btn btn-primary bg-transparent "><a
                        href="{% url 'follow_unfollow' profile_user %}">Following</a></button>

                {% else %}

                <button class="btn btn-primary bg-transparent "><a href="{% url 'follow_unfollow' profile_user %}">
                        Follow</a></button>
                {% endif %}
            </div>

        </div>
    </div>
    <h3>{{profile_user.first_name}} <span>{{profile_user.last_name}}</span> </h3>
    <h5>@{{profile_user.username}}</h5>
    <h5> <img src="{% static 'resource/site_icons/calendar.png' %}" alt=" calendar" width="4%" height="4%"> joined on
        {{profile_user.date_joined.date}}
    </h5>
    <h5><a href="{% url 'following_view' profile_user.username %}">
            <strong>{{profile_user.following.count}}</strong> following
            <strong>{{profile_user.followers.count}}</strong>
            follower</a></h5>
    <hr>
</div>
{% for twt in tweets %}
<div class="card text-white bg-dark mb-1 " style="max-width: 80rem;">
    <div class="card-body">
        <a href="{% url 'profile' twt.user.username %}">
            <div class="row">
                <div class="col-1">
                    <img src="{{twt.user.prof_pic.url}}" alt="profile picture" class="profile">
                </div>
                <strong class="card-text col-3">{{twt.user.username}}</strong>
            </div>
        </a>

        <a href="{% url 'tweet_detail' twt.id %}" class="normal_Link" style="text-decoration: none;">
            <h4 class="card-title">{{twt.tweet}}</h4>
        </a>
        <div class="row">
            <div class="col-1">
                <img src="{% static 'resource/site_icons/comment.svg' %}" alt="comment" width="70%" height="70%">
            </div>
            <div class="col-1">
                <a href="{% url 'liked' twt.id %}">
                    <svg style="width: 30px; height: 30px;" class="svg_class" {% if request.user in twt.likes.all%}
                        fill='red' {% endif %}>
                        <use xlink:href="/static/resource/svg/free.svg#cil-heart"></use>
                    </svg>

                </a>
            </div>
        </div>
    </div>
</div>

{% endfor %}

{% endblock %}