
.logincard{
    margin-top: 150px !important;
}
.form-control{
    background-color: #15202B !important;
    padding: 1rem .75rem;
    color: blue;
}
#login{
    border-radius: 30px  ;
}

/* login signup */

li,span,label{
    display: none;

}
